{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about">
    <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
        <div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid #F90; padding:15px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="center_text">
                    <center><h2>AbOUT US</h2></center>   
                </div>
            </div>
        </div>
    </div>
            <!-- About Content -->
            <div class="about-grids col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="center_text">
                        <h3 class="text-danger text-center">North East Zone Chemists Educational & Welfare Trust's <br /> Sarvodaya Hospital Samarpan Blood Bank</h3>
                        <h5 class="text-center">Voluntary, Day & Night-Blood, Component & Aphaeresis Centre, Ghatkopar-E</h5>
                        <br /><br />
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <h3 class="text-danger">Why Samarpan?</h3>
                        <p>A trendsetter in the entire West Zone of India with all facilities under one roof:</p>
                        <table class="table table-responsive">
                            <tr>
                                <td class="text-danger" valign="top"> &diams;</td>
                                <td><p>LEUCO-REDUCED 100% blood components using indigenous top & bottom quadruple blood bags separated on Automated Component Extractor NOVO matic, LMB-Germany.</p></td>
                            </tr>
                            <tr>
                                <td valign="top" class="text-danger"> &diams;</td>
                                <td><p>Automated Grouping and cross-matching using Gel technology on Automax matrix 80 of Tulip India.</p></td>
                            </tr>
                            <tr>
                                <td valign="top" class="text-danger"> &diams;</td>
                                <td><p>HIV I & II Ag-Ab, HCV Ag-Ab, HBsAg MP, Assay performed on Euphoreia 4.1, fully automated Elisa processor.</p></td>
                            </tr>
                            <tr>
                                <td valign="top" class="text-danger"> &diams;</td>
                                <td><p>NAT-Nucleic Acid Amplification Test by real-time PCR Technology on cobas s 201, Roche.</p></td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <img src="{% static 'images/whyblood.jpg' %}" class="img-responsive img-thumbnail" alt="Why Blood" />
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                        <p>Thus, <b class="text-danger">SAMARPAN</b> ensures easily accessible and adequate supply of the safest and superior quality blood & blood components collected and procured from voluntary non-remunerated regular blood donors in well-equipped premises, which is almost free from infections and is stored and transported under optimum conditions at <b>'Not-for-Profit'</b> charges. <b>Samarpan</b> is always ready to help any deserving person as per its policy.</p>
                        <p>Our motto is <b>"No patient should suffer for want of blood"</b>.</p>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12"><hr /></div>

                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <img src="{% static 'images/about_BB.jpg' %}" class="img-responsive img-thumbnail" alt="About Blood Bank" width="80%" />
                    </div>

                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <h3 class="text-danger">About Blood Bank</h3>
                        <p>We take pride in informing you that the <b>Samarpan Blood Bank</b> was started by the <b>North East Zone Chemists Educational & Welfare Trust</b> in 1998, with sheer <b>"Determination" & "Faith"</b> to fulfill the faith shown by the chemists who had contributed 100% fund required for starting the blood bank project.</p>
                        <p>A unique concept of service to humanity in a professional way - <b>By the Chemists - For the People</b>.</p>
                        <p><b>Samarpan</b> continues to ensure easily accessible and adequate supply of safe and quality blood, collected from voluntary, non-remunerated donors, stored and transported under optimum conditions, issued at <b>'Not for Profit'</b> charges.</p>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;"></div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class="text-danger">Our Achievements</h3>
                        <table class="table table-responsive">
                            <tr>
                                <td class="text-danger" valign="top"> &diams;</td>
                                <td><p>Started in 1998 from Ghatkopar-East, upgraded with component & apheresis facility, shifted to Sarvodaya Hospital, Ghatkopar-West on 15th Aug' 2007.</p></td>
                            </tr>
                            <tr>
                                <td valign="top" class="text-danger"> &diams;</td>
                                <td><p>3500' carpet area premise-state of the art blood bank.</p></td>
                            </tr>
                            <tr>
                                <td valign="top" class="text-danger"> &diams;</td>
                                <td><p>Completed 22 years, 4200+ camps, 495500+ units collected.</p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
