{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about">
                       
    <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
                 <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          
                                <div class="center_text">
                               <center><h2>ABOUT US</h2>      </center>   
                          
                       </div>
                       </div>
                       
                       
                       
                       
                       
                 </div>
           
           
           </div>
    <div class="container">
     <div class="col-md-12 col-sm-12 col-xs-12"></div>
            
            
            
            
             
                   <div class="about-grids col-md-12 col-sm-12 col-xs-12">
                          
                          
                          <div class="col-md-12 col-sm-12 col-xs-12">
                           
                                 <div class="center_text">
                                <center><h3 class="text-danger">North east Zone Chemists Educational & Welfare Trust's <br />
                                Sarvodaya Hospital Samarpan Blood Bank
                                </h3>      
                                
                                <h5> Voluntary, Day & Night-Blood, Component & Aphaeresis Centrals Marg, Ghatkopar-E</h5>
                                </center>  <br /><br /> 
                                
                                
                               
                           
                        </div>
                   
                   
                   <div class="col-md-12 col-sm-12 col-xs-12"></div>
                   <div class="col-md-8 col-sm-8 col-xs-12">
                   <h3 class="text-danger">Why Samarpan?</h3> 
                                
                        <p>A trend setter in Entire West Zone of India with all facilities under one roof:</p>
                        
                       
                            <table class="table-responsive"  >
                                <tr>
                                    <td style="width:20px" valign="top" class="text-danger"> &diams;</td>
                                    <td>
                                    <p> LEUCO-REDUCED 100% blood components using indigenous top &  bottom quadruple blood bags separated on Automated Component Extractor NOVO matic, LMB-Germany </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>Automated Grouping and cross matching using Gel technology on Automax  matrix 80  of Tulip  india .. </p></td>
                                </tr>
                                 <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>HIV I & II Ag-Ab, HCV Ag-Ab, HBsAg  MP, Assay Performed on Euphoreia  4.1.fully Automated Elisa processor. </p></td>
                                </tr>
                                 <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>NAT-Nucleic Acid Amplification Test by real time PCR Technolgy on cobas s 201,Roche. </p></td>
                                </tr>
                                 <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                
                            </table>
                       
              
                   
            </div>
            
            
             <div class="col-md-4 col-sm-4 col-xs-12">
             
              <img src="{% static 'images/whyblood.jpg' %}" class="img-responsive img-thumbnail" alt="" />
             </div>
             
             
             
             
             
             <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:20px">
             
             <p>
             Thus, <b class="text-danger">SAMARPAN</b> ensures easily accessible and adequate supply of safest and Superior quality blood & blood components collected and procured from a voluntary non-remunerated regular blood donor in well equipped premises, which is almost free from infections, and is stored and transported under optimum condition and is issued at <b>'Not-for-Profit'</b> charges. <b>Samarpan</b> always   ready to help any deserving person as per its policy.
             <br /><br />
             </p>
             
             
             
            <p> Our motto is <b>"No patient should suffer for want of blood"</b>.</p>
             
             </div>
             
             
             
             
             
             
               <div class="col-md-12 col-sm-12 col-xs-12"> <hr /></div>
              
               
              
                <div class="col-md-5 col-sm-5 col-xs-12">
             
            <img src="{% static 'images/about_BB.jpg' %}" class="img-responsive img-thumbnail" alt="" width="80%" />
             </div>
             
             
             
                   <div class="col-md-7 col-sm-7 col-xs-12">
                   <h3 class="text-danger">About Blood Bank</h3>   
                                
                        <p>We take proud to inform you that the <b>Samarpan Blood Bank</b> started by <b>North East Zone Chemists Educational & Welfare Trust</b> floated by a trust of chemists situated in between Mankhurd-Chembur, Kurla to Mulund area by 
Shri.Dilip A. Mehta & Shri.Damji M. Palan as a founder trustee/s in the year 1998 from scratch with sheer <b>"Determination" & "Faith"</b> to today's level by fulfilling the faith shown by the chemists who had contributed 100% fund required for starting up of blood bank project. 
</p>
                        
                        
                        <p>A unique concept of service to humanity in professional way<br />
                          - <b>By the Chemists</b> - For the People

</p>

<p><b>Samarpan</b> in continuation with mission statement ensures easily accessible and adequate supply of safe and quality blood, blood components collected and procured from a voluntary non-remunerated regular blood donor in well equipped premises, which is free from transfusion transmitted infections, and is stored and transported under optimum conditions and issues it at following <b>Not for Profit</b> charges and always ready to help deserving person by making policy that <b>no one should suffer for blood</b> due to want of even reasonable charges and thus making blood available first then comes rest.
</p>
                        </div>
                        
                        
                         <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:20px"></div>
                         
                        
                         <div class="col-md-12 col-sm-12 col-xs-12">
                        
                                                       
                            <table class="table-responsive"  >
                                <tr>
                                    <td style="width:20px" valign="top" class="text-danger"> &diams;</td>
                                    <td>
                                    <p> Started in 1998 from Ghatkopar-East, upgraded with component & aphaeresis facility and shifted to Sarvodaya Hospital, Ghatkopar-West on 15th Aug' 2007 with new collaborative name as Sarvodaya Hospital Samarpan Blood Bank.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>3500' carpet area premise-state of art blood bank. </p></td>
                                </tr>
                                 <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>Completed 22  years/ 4200+ camps/ 495500 + units/ 2200 + Aphaeresis</p></td>
                                </tr>
                                 <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>After compliance of mandatory criteria & tests for blood donation like HIV / Hepatitis-B / Hepatitis-C / MP / VDRL, Samarpan does,  </p>
                                    <p>
                                    
                                    <table class="table-responsive"  >
                                <tr>
                                    <td style="width:20px" valign="top" class="text-danger"> &loz;</td>
                                    <td>
                                    <p> Hemoglobin estimation / B.P. Check up / Blood Grouping / Complete Blood Count (CBC) / Blood Sugar test for 35+ above age / Thalassaemia, in case of suspect due to low HB & other parameters.  </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" class="text-danger">&loz;</td>
                                    <td> <p>Donors are re-tested and confirmatory tests are done for Hepatitis B / Hepatitis C and referred to National Liver Foundation for further counseling by renowned Gastro Enterologist under Federation of Bombay Blood Banks project.</p></td>
                                </tr>
                                
                            </table>
                                    </p>
                                    </td>
                                </tr>
                                 <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>Provides reservation services in case of planned surgery for rational use of blood and to stop wastage of precious blood. </p></td>
                                </tr>
                                <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>Motivates donors to become single donor platelet-aphaeresis donor even once in a year during June-Oct due to heavy need of platelets.</p></td>
                                </tr>
                                 <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                
                            </table>
                       
              
                   
            </div>
            
            
            
              <div class="col-md-12 col-sm-12 col-xs-12">
              <hr />
             </div>
            
<div class="col-md-12 col-sm-12 col-xs-12"></div>
                   <div class="col-md-12 col-sm-12 col-xs-12">
                   <h3 class="text-danger">Thalassemia Day Care Center</h3> 
                                
                        
                       
                            <table class="table-responsive"  >
                                <tr>
                                    <td style="width:20px" valign="top" class="text-danger"> &diams;</td>
                                    <td>
                                    <p>Samarpan has started <b>Thalassaemia Day Care Centre</b> on 7th October 2008  by taken responsibility of <b>10</b> children's in 1st phase, to facilitate them blood, blood transfusion at blood bank, all required pathological tests, distribution of required medicines without any charges. Since 2008 till the date ATR is around 0.5% throughout the year. We have Increased 159 Thalassemia children .Those who already were infected with HCV we conducted HCV treatment project twice.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>Considering need of ADR (Adverse Drug Reaction) monitoring concept, started issuing feedback form for Doctors for Transfusion Reaction database, if any to be returned to blood bank within 48 hours for follow up and creating ADR database. </p></td>
                                </tr>
                                 <tr>
                                    <td valign="top" class="text-danger"> &diams;</td>
                                    <td> <p>Top priority is given to the blood requirement for the patients suffering from Thelassaemia & Dialysis. </p></td>
                                </tr>
                                 <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                
                            </table>
                       
              
                   
            </div>
            
            
            
              <div class="col-md-12 col-sm-12 col-xs-12">
              
              <br/>  <br/>
             </div>
             
              <div class="col-md-12 col-sm-12 col-xs-12">
                        
                                                       
                            <table class="table-responsive"  >
                                
                                 <tr>
                                    <td  style="width:20px" valign="top" class="text-danger"></td>
                                    <td> <b>A UNIQUE STATE OF THE ART MOBILE BLOOD DONATION FACILITY  sponsored by Rotary Club of Mumbai Ghatkopar under Rotary Int. Matching Grant Project worth Rs.35 lacs made on Eicher chassis equipped with following facilities to conduct camps in hygienic and comfortable conditions; </b>
                                    <p>
                                    
                                    <table class="table-responsive"  >
                                <tr>
                                    <td style="width:20px" valign="top" class="text-danger"> &loz;</td>
                                    <td>
                                    <p> Two split A/C, Centralized  A/C, </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" class="text-danger">&loz;</td>
                                    <td> <p>One LCD TV, </p></td>
                                </tr>
                                <tr>
                                    <td valign="top" class="text-danger">&loz;</td>
                                    <td> <p>Comfortable 8 Chairs with required instruments like electronic blood collection monitor cum mixer, adequate area for doctor's screening / donors waiting/ Blood Sample Collection area..</p></td>
                                </tr>
                                
                            </table>
                                    </p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td  style="width:20px" valign="top" class="text-danger"></td>
                                    <td> <b>Team of qualified staff is taken in camps arranged in society/ institutes by NGO/College/Corporate throughout Greater Mumbai, Thane, Navi Mumbai till Karjat/Kasara, Dahanu & Panvel. </b>
                                     </td> </tr>
                                 <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                
                            </table>
                       
              
                   
            </div>
            
             
             
             
             
             <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:20px">
             
             
            <h3 class="text-danger">Our Storage Centers</h3>
            </div>     
             
               <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top:20px">
             <p>
            <b> 1) Hira Mongi Hospital- Mulund </b> <br />

            Address-Shre Pragati Foundation's Hira Mongi Navneet hospital<br />
            Valji Ladha Road,Mulund (W),Mumbai-400080<br />
            Email:hmsbsc@gmail.com<br />
           +91 959 403 2512,<br />
           Borad Line:61595577


             <br /><br />
             </p>    
             
             </div>              
             <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top:20px">
             <p>                   

           <b>2)Khopoli Mahajan Samarpan Blood Storage Center Khopoli</b> <br />
            Address-G.V.P.B. Sarswati Ma Lohana Mahajan Wadi,<br />Opp Central Bank Of India,<br /> Jalaram Nagar, Khopoli.<br />
            +91 932 510 2511, 02192--268750

             <br /><br />
             </p>   
            
            
            
             
            
            
            
        </div>
    </div>
    <!---- about ---->
    <!---- About-grids ---->
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:50px"></div>        </div>
            <!---- About-grids ---->
    </div>
    {% endblock %} 