{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about">
            
            
    <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
                 <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          
                                <div class="center_text">
                               <center><h2>CONTACT US</h2>      </center>   
                          
                       </div>
                       </div>
                       
                       
                       
                       
                       
                 </div>
           
           
           </div>
   
   
   
   
   
   
   
   
   
   
       <div class="container">
           
           
           
          
           
           
           
           
         <div class="col-md-12 col-sm-12 col-xs-12"></div>
           
           
           
           
            
                  <div class="about-grids col-md-12 col-sm-12 col-xs-12">
         
                  
                  
                
           
           
           <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="map"> 
                  <a href="https://goo.gl/maps/FBhi4JauFHJ6yeKEA" target="_blank"t>
             <img src="{% static 'images/Map.png'%}" class="img-responsive">
       </a>	
                   </div>
           </div>
           
           
           <div class="col-md-5 col-sm-5 col-xs-12">
                       <h2 class=" text-danger">Samarpan Blood Centre</h2>
                       
                       <p><i class="fa fa-home fa-2x text-danger"></i>
                           
                           201 ,2nd Floor, Aaradhya health care, <br />
                           Aaradhyaa one earth, H wing, <br />
                           Nayadu Colony, Pantnagar, <br />
                           Ghatkopar East, <br />
                           Pincode 400075.</p>
                       <p><i class="fa fa-phone fa-2x text-danger"></i> +91 022-49603131, +91 022-49644455, +91 022-46093131, +91 022-41235151.</p>

<p><i class="fa fa-mobile fa-2x text-danger"></i> +91 703 966 7203, +91 703 966 7204.</p>


                       <p><i class="fa fa-envelope fa-2x text-danger"></i> bo@samarpanbloodcentre.org  </p>
       
                  
           </div>
           
           
           
       </div>
     </div>
</div>
{% endblock %}