{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about">
            
            
    <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
                 <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          
                                <div class="center_text">
                               <center><h2>DONATION</h2>      </center>   
                          
                       </div>
                       </div>
                       
                       
                       
                       
                       
                 </div>
                 
                  
           
           
           </div>
   
   
   
   
   
   
   
   
   
   
       <div class="container">
           
           
           
          
           
           
           
           
         <div class="col-md-12 col-sm-12 col-xs-12"></div>
           
           
           
           
            
                  <div class="about-grids col-md-12 col-sm-12 col-xs-12">
         
                  
               <section id="installation" style="margin-top:-80px;">     
<div class="col-md-5 col-sm-5 col-xs-12">
<h3 class="text-danger"> <br /><br />  We do accept monetary donations here.<br /><br />
Post donations you will be benefited with 80G certificate.
</h3>
                                                                                    

   
   </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
                 
             <img src="{% static 'images/QR_code.jpg' %}" class="img-responsive">
                   
           </div>


<div class="col-md-12 col-sm-12 col-xs-12"></div>
</section>
           
           
           
          
           
           
           
           
          
           
       </div>
       
       
       
   </div>
   
   
   <!---- about ---->
   
   
   <!---- About-grids ---->
           



               
               
               
           </div>

{% endblock %}           