{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about">
            
            
    <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
                 <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          
                                <div class="center_text">
                               <center><h2>PHOTO & VIDEO GALLERY</h2>      </center>   
                          
                       </div>
                       </div>
                    
                    </div>
           
           
           </div>
           <div class="container">
                    <div class="about-grids col-md-12 col-sm-12 col-xs-12">
         
                  <div class="col-md-12 col-sm-12 col-xs-12">
                               <center><h3>PHOTO GALLERY</h3>      </center>   
                          
                       </div>
                       
                       
                       
                         <div class="col-md-12 col-sm-12 col-xs-12">
                             <h3>BLOOD DONATION CAMP</h3>    
                          
                       </div>
                         <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="owl-works">
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/BLOOD_DONATION_CAMP/Picture1.jpg' %}" title="Blood Donation Camp" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/BLOOD_DONATION_CAMP/Picture1.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/BLOOD_DONATION_CAMP/Picture2.jpg' %}" title="Blood Donation Camp" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/2@2x.jpg' %}"><img src="{% static 'images/photo/BLOOD_DONATION_CAMP/Picture2.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/BLOOD_DONATION_CAMP/Picture3.jpg' %}" title="Blood Donation Camp" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/3@2x.jpg' %}"><img src="{% static 'images/photo/BLOOD_DONATION_CAMP/Picture3.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/BLOOD_DONATION_CAMP/Picture4.jpg' %}" title="Blood Donation Camp" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/4@2x.jpg' %}"><img src="{% static 'images/photo/BLOOD_DONATION_CAMP/Picture4.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/BLOOD_DONATION_CAMP/Picture5.jpg' %}" title="Blood Donation Camp" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/5@2x.jpg' %}"><img src="{% static 'images/photo/BLOOD_DONATION_CAMP/Picture5.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/BLOOD_DONATION_CAMP/Picture6.jpg' %}" title="Blood Donation Camp" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/6@2x.jpg' %}"><img src="{% static 'images/photo/BLOOD_DONATION_CAMP/Picture6.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
              <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/BLOOD_DONATION_CAMP/Picture7.jpg' %}" title="Blood Donation Camp" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/BLOOD_DONATION_CAMP/Picture7.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
              </div>
             </div>
         <div class="col-md-12 col-sm-12 col-xs-12">
                             <h3> FUNCTION</h3>    
                          
                       </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="owl-works">
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/FUNCTION/Picture1.jpg' %}" title="FUNCTION" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/FUNCTION/Picture1.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/FUNCTION/Picture2.jpg' %}" title="FUNCTION" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/2@2x.jpg' %}"><img src="{% static 'images/photo/FUNCTION/Picture2.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/FUNCTION/Picture3.jpg' %}" title="FUNCTION" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/3@2x.jpg' %}"><img src="{% static 'images/photo/FUNCTION/Picture3.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/FUNCTION/Picture4.jpg' %}" title="FUNCTION" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/4@2x.jpg' %}"><img src="{% static 'images/photo/FUNCTION/Picture4.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
              
             
               
                  
           </div>
           
           
           
       </div>    
                       
                       
           
            
       
       
       <div class="col-md-12 col-sm-12 col-xs-12">
                             <h3> SAMARPAN BLOOD CENTRE - Activities  </h3>    
                          
                       </div>
                       
                       
                       
                       
                       
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="owl-works">
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Activities/Picture1.jpg' %}" title="Activities" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Activities/Picture1.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Activities/Picture2.jpg' %}" title="Activities" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/2@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Activities/Picture2.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Activities/Picture3.jpg' %}" title="Activities" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/3@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Activities/Picture3.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
                  
           </div>
           
           
           
       </div>    
       
       
       
       
       
       <div class="col-md-12 col-sm-12 col-xs-12">
                             <h3> SAMARPAN BLOOD CENTRE -   Inhouse Donors  </h3>    
                          
                       </div>
                       
                       
                       
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="owl-works">
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/inhouse_donors/Picture1.jpg' %}" title="Inhouse Donors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/inhouse_donors/Picture1.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
             <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/inhouse_donors/Picture2.jpg' %}" title="Inhouse Donors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/inhouse_donors/Picture2.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
                <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/inhouse_donors/Picture3.jpg' %}" title="Inhouse Donors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/inhouse_donors/Picture3.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
                
                 <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/inhouse_donors/Picture4.jpg' %}" title="Inhouse Donors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/inhouse_donors/Picture4.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
                  
           </div>
           
           
           
       </div>    
       
       <div class="col-md-12 col-sm-12 col-xs-12">
                             <h3>VISITORS  </h3>    
                          
                       </div>
                       
                       
                       
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="owl-works">
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture1.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture1.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
             <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture2.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture2.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
                <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture3.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture3.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
                
                 <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture4.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture4.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
                 
                   <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture5.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture5.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
             <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture6.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture6.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
                <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture7.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture7.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
                
                 <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture8.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture8.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
                 
                  <div class="item col-sm-3 col-md-3 col-xs-12"><a href="images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture9.jpg' %}" title="Visitors" data-lightbox-gallery="gallery1" data-lightbox-hidpi="images/works/1@2x.jpg' %}"><img src="{% static 'images/photo/SAMARPAN_BLOOD_CENTRE/Visitors/Picture9.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
                  
           </div>
           
           
           
       </div>  
       <div class="col-md-12 col-sm-12 col-xs-12">
                               <center><h3>VIDEO GALLERY</h3>      </center>   
                          
                       </div>
                  
                  <div class="col-md-12 col-sm-12 col-xs-12">
                       
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="https://www.youtube.com/watch?v=HteBSeJ5pWE" target="_blank"><img src="{% static 'images/Videos/1_1.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
                <div class="owl-works">
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="#" title="This is an image title 2"><img src="{% static 'images/Videos/2.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="#" title="This is an image title 1" ><img src="{% static 'images/Videos/1.jpg' %}" class="img-responsive" alt="img" style="border:2px solid #930"></a></div>
               
               <div class="item col-sm-3 col-md-3 col-xs-12"><a href="#" title="This is an image title 2"><img src="{% static 'images/Videos/2.jpg' %}" class="img-responsive " alt="img" style="border:2px solid #930"></a></div>
               
                  
           </div>
          </div>
     </div>
 </div>
</div>

{% endblock %}