{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about">
                       
    <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
                 <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          
                                <div class="center_text">
                               <center><h2>ORGANIZER</h2>      </center>   
                          
                       </div>
                       </div>
                       
                       
                       
                       
                       
                 </div>
           
           
           </div>
   
   
   
   
   
   
   
   
   
   
       <div class="container">
           
           
           
          
           
           
           
           
         <div class="col-md-12 col-sm-12 col-xs-12"></div>
           
           
           
           
            
                  <div class="about-grids col-md-12 col-sm-12 col-xs-12">
         
                  
               <section id="installation" style="margin-top:-80px;">        
<div class="col-md-7 col-sm-7 col-xs-12">

   <h1 class="text-danger">How to Organize a Blood Donation Camp</h1>
    <h3 class="text-info">Contact Blood Bank:</h3>
    <h4 style="line-height:25px">If you are willing to arrange blood donation drive you can contact Samarpan Blood Bank at given <br />Contact Number : <b> +91 022-25003431, +91 022-49644455, +91 022-49603131, <br />+91 703 966 7203, +91 703 966 7204.</b>   <br />Email Id : <b>bo@samarpanbloodcentre.org</b>  </h4>            
   
   <p>
   1. Our PRO team will take the follow up and call you for the requirements to arrange a blood donation drive.
   </p>
   <p>
   2. When you decide to arrange a blood donation drive you need to do some preparations like-
   </p>
   <ul class="ul_1">            
       <li>Suitable date for the camp</li>
       <li>Adequate place with proper ventilation and aeration.</li>
       <li>If it is a bed camp the place should be enough for min 4 blood donation chairs.</li>
       <li>If it is a mobile van camp then proper place for parking of mobile van which should not disturb other cars to and fro and parking. If possible electric supply for the mobile van.</li>
       <li>For both the camps arrangement of washroom for the blood donation drive team should be done.</li>
   <li>Promotion and motivation for blood donation is necessary prior 2-3 days of camp.</li>
   </ul>
   
   <p>
   3. Your preparations for camp and cooperation from Blood Bank PRO team makes the camp successful. 
   </p>
   
   </div>
   
   <div class="col-md-5 col-sm-5 col-xs-12">
     <div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid #069; background-color:#045374; color:#fff">
      <h1 class="text-info" style="color:#fff">Organizer Reg.</h1>
      
      <form method="post" action="http://nathvalleyschool.com/form/samarpanBB/Org.php" role="form"> 
<div style="padding:10px 0px 10px 0px;">
        <!--CONTENT HERE-->
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
               <span class="star">*</span><label>Organizer Name</label>
               <input name="txtCompany" type="text" id="txt_CompanyName" size="40" class="form-control" />
        </div>
       <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
                 <span class="star">*</span><label>Contact Person Name</label>
               <input name="txtLocation" type="text" id="txt_Location" size="40" class="form-control" />
        </div>
        
      
      
        
       <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
                 <span class="star">*</span><label>Mobile Number</label>
               <input name="phone" type="text" id="txt_Phone" class="form-control" data oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" />
        </div>
        
      <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
                <span class="star">*</span><label>Email Id</label>
               <input name="email" type="email" id="txt_Email" class="form-control" />
        </div>
        
         <div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
                 <label>Address</label>
               <input name="txtAddres" type="text" id="txt_Addres" size="40" class="form-control" />
         </div>
        
        
       <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
                <center> <input type="submit" name="cmdSubmit" id="cmdSubmit" value="Submit" 
                class="btn btn-info btn-lg" onclick="return ValidateForm_SendMail();" />
                <input type="reset" name="cmdReset" id="cmdReset" value="Reset" class="btn btn-info btn-lg" /></center>
        </div>
        
        
        
           <div class="col-md-12 col-sm-12 col-xs-12">
           <br /><br />
           </div></div>
           </form>
           
     </div>
  
     
      
      
</div> <br /><br /> <br /><br /> <br /><br /> <br /><br />

<div class="col-md-12 col-sm-12 col-xs-12"></div>
</section>
           
           
           
           <section id="installationss">        
           
           
 <div class="col-md-5 col-sm-5 col-xs-12">
   <img src="images/4.jpg" alt="" class="img-responsive img-thumbnail" style="margin-top:20px;" />
</div>


<div class="col-md-7 col-sm-7 col-xs-12" style="margin-top:50px;">

    <h3 class="text-info">Detailing of the Camp:</h3>
    
  
   <p>
   Organizers are request to give every detail like:
   </p>
   <ul class="ul_1">            
       <li>Confirmed Date of camp. </li>
       <li>Capacity of hall or venue of camp. </li>
       <li>Number of donors expected.</li> <br /> <br />
   </ul>
   
      <h3 class="text-info">Promotion and motivation for the blood donation.</h3>
    
   <p>
  Organizing team is advised to advertise the Blood Donation camp with proper details like Date, Time and Venue to attract the attention of prospected blood donors. 
   </p>
</div> <br /><br /> <br /><br /> <br /><br /> <br /><br />
   </div>            

</section>
           
           
           
           
           <section id="installation" >        
<div class="col-md-8 col-sm-8 col-xs-12" style="margin-top:40px;">

   <h3 class="text-info">ON THE DAY OF BLOOD DONATION</h3>
   
   <ul class="ul_1">            
       <li>Being an organizer you or your one of the coordinator should be present at camp site before the blood donation drive team arrives.</li>
       <li>Make sure for the required arrangements and things to be used in camp from your end.</li>
       <li>Conduction of camp should be under the observation and presence of organizer.</li>
       <li>Your suggestions for conduction of camps are most welcome for our improvement.</li>
   </ul>
   </div>
   
   <div class="col-md-4 col-sm-4 col-xs-12" style="margin-top:40px;">
<img src="images/5.png" alt="" class="img-responsive img-thumbnail" style="margin-top:20px;" />
</div> <br /><br /> <br /><br /> <br /><br /> <br /><br />
</section>
          
           
       </div>
       
       
       
   </div>
   
   
   <!---- about ---->
   
   
   <!---- About-grids ---->
                               
           </div>
           <!---- About-grids ---->
           
           
   
   

{% endblock %}