{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about">
            
            
    <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px; ">
                 <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          
                                <div class="center_text">
                               <center><h2>PRODUCT</h2>      </center>   
                          
                       </div>
                       </div>
                       
                       
                       
                       
                       
                 </div>
           
           
           </div>
   
   
   
   
   
   
   
   
   
   
       <div class="container">

<!-- Docs nav
================================================== -->
<div class="row">
<div class="col-md-3 col-sm-3 col-xs-12 bs-docs-sidebar">
<ul class="nav nav-list bs-docs-sidenav">
 <li><a href="#installation"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> Packed Red Blood Cells-PRBC</a></li>
 <li><a href="#pagestructure"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> Platelets: Use As Life Saver</a></li>          
 <li><a href="#logosettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i>Fresh Frozen Plasma: Provides Clotting Factors </a></li>
 <li><a href="#fontsettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> Cryoprecipitate : Use</a></li>
 <li><a href="#menusettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i>Single Donor Platelets: Use as Life Saver.</a></li>
 <li><a href="#menusettings_1"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i>Covid Convalescent Plasma</a></li>
</ul>
</div>
<div class="col-md-9 col-sm-9 col-xs-12" style="margin-top:-50px">


<section id="start">

<div class="col-md-8 col-sm-8 col-xs-12">
   <h2 class="text-danger">The collected blood is getting separated in the following components</h2>
    <br />
   <ul class="ul_1">
   
       <li><b class="text-danger">P</b>acked <b class="text-danger">R</b>ed <b class="text-danger">B</b>lood <b class="text-danger">C</b>ells-<b>PRBC</b></li>
       <li><b class="text-danger">R</b>andom <b class="text-danger">D</b>onor <b class="text-danger">P</b>latelets-<b>RDP</b></li>
       <li><b class="text-danger">F</b>resh <b class="text-danger">F</b>rozen <b class="text-danger">P</b>lasma-<b>FFP</b></li>
       <li><b class="text-danger">C</b>ryo <b class="text-danger">P</b>oor <b class="text-danger">P</b>lasma-<b>CPP</b></li>                             
       <li><b class="text-danger">S</b>ingle <b class="text-danger">D</b>onor <b class="text-danger">P</b>latelets -<b>SDP</b></li>
        <li><b class="text-danger">C</b>ovid <b class="text-danger">C</b>onvalescent <b class="text-danger">P</b>lasma -<b>CCP</b></li> 
   </ul>

</div>
   
   <div class="col-md-4 col-sm-4 col-xs-12">
<img src="{%static 'images/3.jpg' %}" alt="" class="img-responsive img-thumbnail" style="margin-top:20px;" />
</div> <br /><br /> <br /><br /> <br /><br /> <br /><br />
</section>


<hr class="bs-docs-separator">


<!-- Global Bootstrap settings
================================================== -->
<section id="installation" style="margin-top:-20px">        


   <h1 class="text-danger">Packed Red Blood Cells-PRBC</h1>
   </br>
           
   
   <ul class="ul_1">
       <li>In Severe anemia, Hemoglobin % is lower 5gms: as per treating doctor's diagnosis.</li>
       <li>In a Patient generally One Unit of Blood Transfusion Increases Hb % by 1 gm % in a person with 60 Kg Weight( with No active Bleeding )</li>
       <li>In Thalassemia (Genetic defect Alfa &/or Beta Chains): RBCs have short life span so for patients' survival and healthy life continuous repeated Blood Transfusions are needed.</li>
       <li>In Sickle cell anemia: Genetic Defect: RBCs have Fetal Hemoglobin & form Soccer shape at high altitude, Due to RBC shape is destroyed in spleen rapidly causing anemia.</li>
       <li>During Operative Procedures There is Blood loss and at times its more than one unit of Blood Here as a replacement therapy & for maintaining Oxygen levels & some times in Moderate to severe Blood loss Massive Blood Transfusions may be required to save the Patients.</li>
       <li>Pregnant Ladies during delivery, Caesarian section & Post Partum can be major Blood loss threatening life. Occasionally atone of Uterus can lead to severe Blood loss and needs urgent Blood Transfusion as Life saving treatment.</li>
       <li>Any Road Accident or accident leading to Blood Loss. Accident with Blood loss of 2 Units of Blood & or Hemoglobin less than 10 gms with reducing Hb, Abnormal Vital signs and moderate to severe injury will need Emergency Blood Transfusion as the Life Saving requirement.</li>
       <li>Exchange Transfusion: Whole Blood / PCV along with Plasma is used for exchange transfusion in New Born Babies in Hemolytic Disease due to Rh incompatibility.</li>
       <li>In Major Operations like Organ Transplant / Cardiac Surgery.</li>
      
   </ul>
   
  
   
 
</section>


<hr class="bs-docs-separator">


<section id="pagestructure" style="margin-top:-50px">



   <h1 class="text-danger">Platelets: Use As Life Saver</h1>
   <br />
   
   <ul class="ul_1">
       <li>Platelets are tiny blood cells that help your body form clots to stop bleeding.</li>
       <li>If one of your blood vessels gets damaged, it sends out signals to the platelets. The platelets then rush to the site of damage; they form a plug (clot) to fix the damage.   </li>
       <li>Clinical conditions with platelet count at warning level: depends upon the clinical diagnosis and concerned operative procedures.</li>
       <li>The process of spreading across the surface of a damaged blood vessel to stop bleeding is called adhesion.</li>
       <li>This is because when platelets get to the site of the injury, they grow sticky tentacles that help them stick (adhere) to one another. </li>
       <li>They also send out chemical signals to attract more platelets. The additional platelets pile onto the clot in a process called aggregation.</li>
       <li><b>Platelet transfusion</b>, also known as <b>platelet concentrate</b>, is used to prevent or treat bleeding in people with either a low platelet count or poor platelet function. Often this occurs in people receiving cancer chemotherapy.</li>
       <li>One unit of Random Donor Platelets (50-70 ml) increases Platelet count by 5000-6000 platelets While Single Donor Platelets (220-250 ml) increases platelet count by 50,000-60,000 /cmm.</li>
       <li>Viral Fever e.g. Dengue,</li>
       <li>D.I.C. (Small Blood clots in Blood Vessels): Platelet consumption & destruction leads to low Platelet count which may lead to Bleeding.</li>
       <li>Cancer Patients on Treatment.</li>
       <li>Blood group matching (ABO Rh system) is typically recommended before platelets are given. </li>
       <li>Unmatched platelets, however, are often used due to the unavailability of matched platelets. They are given by injection into a vein.</li>
   </ul>
     
</section>

<hr class="bs-docs-separator">


<section id="logosettings">
   <h1 class="text-danger" >Fresh Frozen Plasma: Provides Clotting Factors </h1>
    <br />
   <ul class="ul_1">
       <li><b class="text-danger">F</b>resh <b class="text-danger">F</b>rozen <b class="text-danger">P</b>lasma is indicated for the deficiency of coagulation factors with abnormal coagulation tests in the presence of active bleeding. </li>
       <li>FFP is also indicated for a planned surgery or invasive procedure in the presence of abnormal coagulation tests, for the reversal of Warfarin in the presence of active bleeding or planned procedure when vitamin K is inadequate to reverse the Warfarin effect, thrombotic thrombocytopenic purpura, and congenital or acquired factor deficiency with no alternative therapy. </li>
       <li>Other more specific recommendations for FFP based on systematic review include trauma patients requiring massive transfusion and warfarin-related intracranial hemorrhage. </li>
       <li>Other situations where the administration of FFP cannot be recommended for or against based on systematic review include FFP transfusion at a plasma-to-RBC ratio of 1:3 or more in trauma patients with massive transfusion.</li>
       <li>Genetic abnormality lacking one or more Clotting Factors may bleed with precipitating cause and FFP is needed as Life saving treatment.</li>
       <li>In Some Autoimmune diseases: Auto antibodies are developed which cannot identify its own body tissue of Host: Here Plasma Exchange Therapy works as Magic treatment.</li>
       <li>In Recent Covid -19 out Break: Plasma from Recovered Covid-19 patients is used to treat Moderate to severely ill Covid -19 Patients to fasten the recovery –Recovery varies from patient to patient.</li>
   </ul>


</section>


<hr class="bs-docs-separator">

       
<section id="fontsettings" style="margin-top:-50px">        

   <h1 class="text-danger">Cryoprecipitate : Use</h1>
   
   <br />
   
   <ul class="ul_1">
       <li>Cryo is prepared from FFP.</li>
       <li>Volume is 15-20 ml.</li>
       <li>In cardiac Patients as well as in Children It is used for Coagulation Factors as with less quantity of blood Component will supply the Coagulation Factors.</li>         
   
   </ul > <br />

   
</section>


<hr class="bs-docs-separator">


<section id="menusettings" style="margin-top:-50px">


   <h1 class="text-danger">Single Donor Platelets: Use as Life Saver</h1>
   <br />
   
  <ul class="ul_1">            
       <li>Aphaeresis is a Greek word that means to separate or remove. In aphaeresis blood is withdrawn from a donor or patient in anticoagulant solution & separated into components. One component is retained and the remaining constituents are returned to the individual.</li>
       <li>Platelets are tiny blood cells that help your body form clots to stop bleeding.</li>
       <li>If one of your blood vessels gets damaged, it sends out signals to the platelets. The platelets then rush to the site of damage; they form a plug (clot) to fix the damage.   </li>
       <li>Clinical conditions with platelet count at warning level: depends upon the clinical diagnosis and concerned operative procedures.</li>
       <li>The process of spreading across the surface of a damaged blood vessel to stop bleeding is called adhesion. </li>
       <li>This is because when platelets get to the site of the injury, they grow sticky tentacles that help them stick (adhere) to one another. </li>
       <li>They also send out chemical signals to attract more platelets. The additional platelets pile onto the clot in a process called aggregation.</li>
       <li>Platelet transfusion, also known as platelet concentrate, is used to prevent or treat bleeding in people with either a low platelet count or poor platelet function. Often this occurs in people receiving cancer chemotherapy.</li>
       <li>One unit of Random Donor Platelets (50-70 ml) increases Platelet count by 5000-6000 platelets While Single Donor Platelets (220-250 ml) increases platelet count by 50,000-60,000 /cmm.</li>
       <li> Viral Fever e.g. Dengue.</li>
       <li>D.I.C. (Small Blood clots in Blood Vessels): Platelet consumption & destruction leads to low Platelet count which may lead to Bleeding.</li>
       <li> Cancer Patients on Treatment.</li>
       <li>Blood group matching (ABO Rh system) is typically recommended before platelets are given. </li>
       <li>Unmatched platelets, however, are often used due to the unavailability of matched platelets. They are given by injection into a vein.</li>
       <li>Platelets separated by Aphaeresis method have distinct advantages over Random Donor Platelets In case of RDPs, the patient is exposed to multiple no. of donors with different antibodies which may cause problems in subsequent transfusions whereas SDPs,patients is exposed to only one donor. In Aphaeresis procedure, RBC contamination in minimal or nil.     </li>
   </ul> 
</section>





<section id="menusettings_1" style="margin-top:-50px">


   <h1 class="text-danger">Covid Convalescent Plasma</h1>
   <br />
   
  <ul class="ul_1">            
       <li>  Samarpan started doing CCP pheresis in September  2020.</li>
       <li>It's a plasma extracted from Covid recovered person. </li>
       <li>CCP helped to recover Covid patients in critical condition.</li>
      <li> In the Pandemic of Covid-19 it was a ray of hope for many infected ones.</li>
      
       <li>Criteria for CCP selection</li>
       <ul>
       <li> Male 18 yrs.- 60 yrs.</li>
                                    <li> Female 18 yrs -60 yrs, who has never conceived.</li>
                                      <li> Weight- 60 kg and above</li>
                                      <li> Post recovery completed minimum 14 days</li>
                                      <li> His covid antibodies should be >10 and Serum Protein in normal ranges.</li>
      
       
       </ul>
        <li>Till the date we could extract CCP and could cater patients.</li>
   </ul> 
</section>


<hr class="bs-docs-separator">
</div>
</div>

</div>
   
<!---- about ---->
   
   
<!---- About-grids ---->
</div>

{% endblock %}