{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about">

<div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
    <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
          <div class="col-md-12 col-sm-12 col-xs-12">
             
                   <div class="center_text">
                  <center><h2>SERVICES</h2>      </center>   
             
          </div>
          </div>
          
          
          
          
          
    </div>


</div>










<div class="container">
<div class="col-md-12 col-sm-12 col-xs-12"></div>
<div class="about-grids col-md-12 col-sm-12 col-xs-12">

     
  <section id="installation" style="margin-top:-80px;">        
<div class="col-md-7 col-sm-7 col-xs-12">
<h3 class="text-danger">Storage centres at Mulund-Hira Mongi Hospital <Br />as well khopoli Mahajan wadi </h3>
<h4 style="line-height:25px"> - Pick up drop 24*7 at mother blood centre as well our storage centre.</b>  </h4>   
<h4 style="line-height:25px">- Pick up drop for blood donors in a group.</b>  </h4>    
<h4 style="line-height:25px">- Free Dietitian consultation for regular blood donors.</b>  </h4>     
                                                                       


</div>

<div class="col-md-5 col-sm-5 col-xs-12">
<div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid #069; background-color:#045374; color:#fff">
<h1 class="text-info" style="color:#fff">Registration</h1>

<form method="post" action="http://nathvalleyschool.com/form/samarpanBB/Dialysis.php" role="form"> 
<div style="padding:10px 0px 10px 0px;">
<!--CONTENT HERE-->
<div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
  <span class="star">*</span><label>Name</label>
  <input name="txtCompany" type="text" id="txt_CompanyName" size="40" class="form-control" />
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
    <span class="star">*</span><label>Contact Person Name</label>
  <input name="txtLocation" type="text" id="txt_Location" size="40" class="form-control" />
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
    <span class="star">*</span><label>Mobile Number</label>
  <input name="phone" type="text" id="txt_Phone" class="form-control" data oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" />
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
   <span class="star">*</span><label>Email Id</label>
  <input name="email" type="email" id="txt_Email" class="form-control" />
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px">
    <label>Address</label>
  <input name="txtAddres" type="text" id="txt_Addres" size="40" class="form-control" />
</div>


<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:10px">
   <center> <input type="submit" name="cmdSubmit" id="cmdSubmit" value="Submit" 
   class="btn btn-info btn-lg" onclick="return ValidateForm_SendMail();" />
   <input type="reset" name="cmdReset" id="cmdReset" value="Reset" class="btn btn-info btn-lg" /></center>
</div>



<div class="col-md-12 col-sm-12 col-xs-12">
<br /><br />
</div></div>
</form>

</div>
</div> <br /><br /> <br /><br /> <br /><br /> <br /><br />

<div class="col-md-12 col-sm-12 col-xs-12"></div>
</section>
</div>		
</div>
</div>
{% endblock %}