{% extends 'samarpan/base.html' %}
{% load static %}
{% block content %}

<div id="about" class="about">
            
            
    <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
                 <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
                       <div class="col-md-12 col-sm-12 col-xs-12">
                          
                                <div class="center_text">
                               <center><h2>THALASSEMIA</h2>      </center>   
                          
                       </div>
                       </div>
                       
                       
                       
                       
                                 
                       
                       
                       
                       
                       
                       
                 </div>
           
           
           </div>
   
   
   
   
   
   
   
   
   
   
       <div class="container">
           
           
           
          
           
           
           
           
         <div class="col-md-12 col-sm-12 col-xs-12"></div>
           
           
           
           
            
                  <div class="about-grids col-md-12 col-sm-12 col-xs-12">
         
                  
                  <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-8 col-sm-8 col-xs-12">
   <h3 class="text-danger">
   <!--The collected blood is getting separated in the following components-->
   Thalassemia a Genetic Disorder
   </h3>
    <br />
   <ul class="ul_1">                         	
       <li>Thalassemia  is a genetic disorder that causes your body to have poorly developed  haemoglobin than normal. </li>
       <li>Haemoglobin (Hb) enables red blood cells to carry oxygen. </li>
       <li>The disorder results in excessive destruction of red blood cells, which leads to anaemia. Anaemia is a condition in which your body doesn't have enough normal, healthy red blood cells.</li>
       <li>Thalassemia is inherited, meaning that at least one of your parents must be a carrier of the disorder. It's caused by either a genetic mutation or a deletion of certain key gene fragments.</li>
       <li>Thalassemia minor is a carrier stage of genes; it is less serious form of the disorder. </li>
       <li>There are two main forms of thalassemia that are more serious. In alpha thalassemia, at least one of the alpha globin genes has a mutation or abnormality. In beta thalassemia, the beta globin genes are affected.</li>
       <li>Thallassemia testing can be done at Samarpan Path lab.</li>
       <li>Monetary donation portal for Thalassemia children.</li>
       <li>MEF project with details,portal to enrol in MEF project.</li>
   </ul>
   
   <br />

<p><b>The symptoms of thalassemia can vary. Some of the most common ones include:</b></p>        
<ul class="ul_1">                         	
       <li>Bone deformities, especially in the face.</li>
       <li>Dark urine.</li>
       <li>delayed growth and development.</li>
       <li>excessive tiredness and fatigue.</li>
       <li>yellow or pale skin.</li>
   </ul>
   
    <p>Not everyone has visible symptoms of thalassemia. Signs of the disorder also tend to show up later in childhood or adolescence.</p>    
</div>

   
   <div class="col-md-4 col-sm-4 col-xs-12">
<img src="{% static 'images/7.jpg' %}" alt="" class="img-responsive img-thumbnail" style="margin-top:20px;" />
</div>
                       
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->
           
           
           
           <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Causes of thalassemia</h3>
    <br />
  
   
   <p>Thalassemia occurs when there's an abnormality or mutation in one of the genes involved in hemoglobin production. You inherit this genetic abnormality from your parents.</p> 
     <p>If only one of your parents is a carrier for thalassemia, you may develop a form of the disease known as thalassemia minor. If this occurs, you probably won't have symptoms, but you'll be a carrier. Some people with thalassemia minor do develop minor symptoms.</p> 
      <p>If  both of your parents are carriers of thalassemia, you have a greater chance of inheriting a more serious form of the disease.</p> 
       <p>Thalassemia is most common Trusted Source in people from Asia, the Middle East, Africa, and Mediterranean countries such as Greece and Turkey.</p> 
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Different types of thalassemia</h3>
    <br />
  
   
   <p>There are three main types of thalassemia (and four subtypes):</p> 
   
   <ul class="ul_1">                         	
       <li>Beta thalassemia, which includes the subtypes major and intermedia.</li>
       <li>Alpha thalassemia, which include the subtypes hemoglobin H and hydrous fetal is.</li>
       <li>Thalassemia minor</li>
   </ul>
   
   
       <p>All of these types and subtypes vary in symptoms and severity. The onset may also vary slightly.</p> 
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Diagnosis thalassemia</h3>
    <br />
  
   
   <p>If your doctor is trying to diagnose thalassemia, they'll likely take a blood sample. They'll send this sample to a lab to be tested for anemia and abnormal hemoglobin. A lab technician will also look at the blood under a microscope to see if the red blood cells are oddly shaped.</p> 
     <p>Abnormally shaped red blood cells are a sign of thalassemia. The lab technician may also perform a test known as hemoglobin electrophoresis. This test separates out the different molecules in the red blood cells, allowing them to identify the abnormal type.</p> 
      <p>Depending on the type and severity of the thalassemia, a physical examination might also help your doctor make a diagnosis. For example, a severely enlarged spleen might suggest to your doctor that you have hemoglobin H disease.</p> 
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->


<!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Treatment options for thalassemia</h3>
    <br />
  
   
   <p>The treatment for thalassemia depends on the type and severity of disease involved. Your doctor will give you a course of treatment that will work best for your particular case.</p> 
   
   <p>Some of the treatments include:</p>
   
   <ul class="ul_1">                         	
       <li>Blood transfusions</li>
       <li>Bone marrow transplant</li>
       <li>Medications and supplements</li>
       <li>Possible surgery to remove the spleen or gallbladder</li>
   </ul>
   
   
       <p>Your doctor may instruct you not to take vitamins or supplements containing iron. This is especially true if you need blood transfusions because people who receive them accumulate extra iron that the body can't easily get rid of. Iron can build up in tissues, which can be potentially fatal.</p> 
       <p>If you're receiving a blood transfusion, you may also need chelation therapy. This generally involves receiving an injection of a chemical that binds with iron and other heavy metals. This helps remove extra iron from your body.</p>
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->


 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Thalassemia beta</h3>
    <br />
  
   
   <p>Beta thalassemia occurs when your body can't produce beta globin. Two genes, one from each parent, are inherited to make beta globin. This type of thalassemia comes in two serious subtypes: thalassemia major (Cooley's anemia) and thalassemia intermedia.</p> 
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Thalassemia major</h3>
    <br />
  
   
   <p>Thalassemia major is the most severe form of beta thalassemia. It develops when beta globin genes are missing.</p> 
   
   <p>
   The symptoms of thalassemia major generally appear before a child's second birthday. The severe anemia related to this condition can be life-threatening. Other signs and symptoms include:
   </p>
   
   <ul class="ul_1">
       <li>Fussiness</li>
       <li>Paleness</li>
       <li>Frequent infections</li>
       <li>A poor appetite</li>
       <li>Failure to thrive
</li>
       <li>Jaundice, which is a yellowing of the skin or the whites of the eyes
</li>
       <li>Enlarged organs</li>
   </ul>
   
   <p>This form of thalassemia is usually so severe that it requires regular blood transfusions.</p>
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->


 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Thalassemia intermedia</h3>
    <br />
  
   
   <p>Thalassemia intermedia is a less severe form. It develops because of alterations in both beta globin genes. People with thalassemia intermedia don't need blood transfusions.</p> 
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



<!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Thalassemia Alpha</h3>
    <br />
  
   
   <p>Alpha thalassemia occurs when the body can't make alpha globin. In order to make alpha globin, you need to have four genes, two from each parent.</p> 
   <p>This type of thalassemia also has two serious types: hemoglobin H disease and hydrops fetalis.</p>
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



<!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Hemoglobin H</h3>
    <br />
  
   
   <p>Hemoglobin H develops as when a person is missing three alpha globin genes or experiences changes in these genes. This disease can lead to bone issues. The cheeks, forehead, and jaw may all overgrow. Additionally, hemoglobin H disease can cause:</p>
   
   
   <ul class="ul_1">
       <li>Jaundice</li>
       <li>An extremely enlarged spleen</li>
       <li>Malnourishment</li>
   </ul>
   
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->




<!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Hydrops fetalis</h3>
    <br />
  
   
   <p>Hydrops fetalis is an extremely severe form of thalassemia that occurs before birth. Most babies with this condition are either stillborn or die shortly after being born. This condition develops when all four alpha globin genes are altered or missing.</p>
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->




 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Thalassemia and Anemia</h3>
    <br />
  
   
   <p>Thalassemia can quickly lead to anemia. This condition is marked by a lack of oxygen being transported to tissues and organs. Since red blood cells are responsible for delivering oxygen, a reduced number of these cells means you don't have enough oxygen in the body either.</p>
   
   <p>Your anemia may be mild to severe. Symptoms of anemia include:</p>
   
   
   <ul class="ul_1">
       <li>Dizziness</li>
       <li>Fatigue</li>
       <li>Irritability</li>
       <li>Shortness of breath</li>
       <li>Weakness</li>
      
   </ul>
   <p>Anemia can also cause you to pass out. Severe cases can lead to widespread organ damage, which can be fatal.</p>
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->




  <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Thalassemia and genetics</h3>
    <br />
  
   
   <p>Thalassemia is genetic in nature. To develop full thalassemia, both of your parents must be carriers of the disease. As a result, you will have two mutated genes.</p>
   
   <p>It's also possible to become a carrier of thalassemia, where you only have one mutated gene and not two from both parents. Either one or both of your parents must have the condition or be a carrier of it. This means that you inherit one mutated gene from either one of your parents.</p>
               
   
   <p>It's important to get tested if one of your parents or a relative has some form of the disease.</p>
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



  <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Thalassemia Minor</h3>
    <br />
  
   
   <p>In alpha minor cases, two genes are missing. In beta minor, one gene is missing. People with thalassemia minor don't usually have any symptoms. If they do, it's likely to be minor anemia. The condition is classified as either alpha or beta thalassemia minor.</p>
   
   <p>Even if thalassemia minor doesn't cause any noticeable symptoms, you can still be a carrier for the disease. This means that, if you have children, they could develop some form of the gene mutation.</p>
               
   
  
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->




<!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Thalassemia in children</h3>
    <br />
  
   
   <p>Of all the babies born with thalassemia each year, it's estimated that 100,000 are born with severe forms worldwide.</p>
   
   <p>Children can start exhibiting symptoms of thalassemia during their first two years of life. Some of the most noticeable signs include:</p>
   
   
   <ul class="ul_1">
       <li>Fatigue</li>
       <li>Jaundice</li>
       <li>Pale skin</li>
       <li>Poor appetite</li>
       <li>Slow growth</li>
      
   </ul>
   <p>It's important to diagnose thalassemia quickly in children. If you or your child's other parent are carriers, you should have testing done early.</p>
   <p>When left untreated, this condition can lead to problems in the liver, heart, and spleen. Infections and heart failure are the most common life-threatening complications of thalassemia in children.</p>
   <p>Like adults, children with severe thalassemia need frequent blood transfusions to get rid of excess iron in the body.</p>
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



<!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Diet for thalassemia</h3>
    <br />
  
   
   <p>A low-fat, plant-based diet is the best choice for most people, including those with thalassemia. However, you may need to limit iron-rich foods if you already have high iron levels in your blood. Fish and meats are rich in iron, so you may need to limit these in your diet.</p>
   
   <p>You may also consider avoiding fortified cereals, breads, and juices. They contain high iron levels, too.</p>
   
   
   <p>Thalassemia can cause folic acid (folate) deficiencies. Naturally found in foods such as dark leafy greens and legumes, this B vitamin is essential for warding off the effects of high iron levels and protecting red blood cells. If you're not getting enough folic acid in your diet, your doctor may recommend a 1 mg supplement taken daily.</p>
   <p>There's no one diet that can cure thalassemia, but making sure you eat the right foods can help. Be sure to discuss any dietary changes with your doctor ahead of time.</p>
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->


 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Prognosis</h3>
    <br />
  
   
   <p>Since thalassemia is a genetic disorder, there's no way to prevent it. However, there are ways you can manage the disease to help prevent complications.</p>
   
   <p>In addition to ongoing medical care, the CDC recommendsTrusted Source that all individuals with disorder protect themselves from infections by keeping up with the following vaccines:</p>
   
    <ul class="ul_1">
       <li>Homophiles influenza type b</li>
       <li>Hepatitis</li>
       <li>Meningococcal</li>
       <li>Pneumococcal</li>
      
   </ul>
   
   <p>In addition to a healthy diet, regular exercise can help manage your symptoms and lead to a more positive prognosis. Moderate-intensity workouts are usually recommended, since heavy exercise can make your symptoms worse.</p>
   <p>Walking and bike riding are examples of moderate-intensity workouts. Swimming and yoga are other options, and they're also good for your joints. The key is to find something you enjoy and keep moving.</p>
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Life expectancy</h3>
    <br />
  
   
   <p>Thalassemia is a serious illness that can lead to life-threatening complications when left untreated or undertreated. While it's difficult to pinpoint an exact life expectancy, the general rule is that the more severe the condition, the quicker thalassemia can become fatal.</p>
   
   
   <p>According to some estimates, people with beta thalassemia — the most severe form — typically die by age 30. The shortened life span has to do with iron overload, which can eventually affect your organs.</p>
   
   <p>Researchers are continuing to explore genetic testing as well as the possibility of gene therapy. The earlier thalassemia is detected, the sooner you can receive treatment. In the future, gene therapy could possibly reactivate hemoglobin and deactivate abnormal gene mutations in the body.</p>
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->




<!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">How does thalassemia affect pregnancy?</h3>
    <br />
  
   
   <p>Thalassemia also brings up different concerns related to pregnancy. The disorder affects reproductive organ development. Because of this, women with thalassemia may encounter fertility difficulties.</p>
   
   <p>To ensure the health of both you and your baby, it's important to plan ahead of time as much as possible. If you want to have a baby, discuss this with your doctor to make sure that you're in the best health possible.</p>
   
   <p>Your iron levels will need to be carefully monitored. Preexisting issues with major organs are also considered.</p>
   
   <p>Prenatal testing for thalassemia may be done at 11 and 16 weeks. This is done by taking fluid samples from either the placenta or the fetus, respectively.</p>
   <p>Pregnancy carries the following risk factors in women with thalassemia:</p>
   
   
    <ul class="ul_1">
       <li>A higher risk for infections</li>
       <li>Gestational diabetes</li>
       <li>Heart problems</li>
       <li>Hypothyroidism, or low thyroid</li>
       <li>Increased number of blood transfusions</li>
       <li>Low bone density</li>
      
   </ul>            
   
</div>                        
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Samarpan Blood Bank Thalassemia Day Care Center</h3>
    <br />
  
   
   <p>We Samarpan blood Bank has started Thalassemia Day Care Center since 7th October 2008 with 2 children.</p>
   
   <p>Till date we have adopted 159 thalassemia children for Blood transfusion and other related medical issues.</p>
   
   <p>We have all these thalassemics in different age groups like 3yrs-43yrs.</p>
   
   <p>These thalassemics are from various socio-economic background and caste and religion.</p>
   <p>Since 2008 we are pledged to cater them the best.</p>
   
   
    <ul class="ul_1">
       <li>Multiple transfusions bring many complications too.</li>
       <li>They are fighting with Transfusion transmitted diseases like HCV,HBV and HIV</li>
       <li>Other than these diseases they need to cope up with increased ferritin and its deposition in internal organs,which can lead to fatal.</li>
      
   </ul>            
   <p>For consultation of these thalassemics got guidance of </p>
   
   <p>Dr.Purvi Kutty-Kadakia –Ped.Hematologist<br />
Dr.Niranjan Rathod –Hematologist,BMT expert<br />
Dr.Akash Shukla- Gastroenterologist,Hepatologist.
</p>

<p>Due to Fatal effects of HCV infection we had run HCV treatment project at our Day Care center for 45 Thalassemics who were HCV positive.</p>
<p>In 2013 when Interferon injections was the only source of treatment,we had 70% success in the project.</p>
<p>With remaining positive children we run the project again in 2015 with new drugs in tablet form.</p>
<p>Our project had 100% success.</p>
</div>                        
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">MEF –My Extended Family project </h3>
    <br />
  
   <ul class="ul_1">
   <li>Continue blood transfusion leads to exposure of different and many antibodies.</li>
   
   
   <li>This exposure leads to many complications, like cross matching issue.</li>
   
   <li>To avoid and minimize this exposure followed by complications Samarpan has started one new innovative project naming MEF.</li>
   
   <li>This project leads to confirm group of 24 dedicated donors who donate blood to a particular child throughout year with the interval of 3-4 months.</li>
   
   <li>MEF results in overall growth of child includes,</li>
   <li>Height, weight, balanced hormones which boosts self confidence of these children.</li>
   <li>Life expectancy increases with the MEF project.</li>
   
   </ul>
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->



                 <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">What We Do ?</h3>
    <br />
  
   <ul class="ul_1">
   <li>Samrpan has adopted 161 Thalassemic children patients. </li>
   
   
   <li>We do give blood transfusion to these children free of cost, under observation of Doctor and trained nurse.</li>
   
   <li>We do take care of their annual blood tests along with the instrumental tests.</li>
   
   <li>Blood tests includes- S.Ferritin
       <ol>
           <li>LFT</li>
           <li>RFT</li>
           <li>Thyroid</li>
           <li>HsABg</li>
           <li>HCV</li>
           <li>HIV</li>
       </ol>
   </li>
   
   <li>Instrumental tests- Abdominal USG
   <ol>
           <li>T2*</li>
       </ol>
   </li>
   
   </ul>
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->





 <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-8 col-sm-8 col-xs-12">
   <h3 class="text-danger">MEF-( MY EXTENDED FAMILY)</h3>
    <br />
    <h4>Thalassaemia Major is a blood disorder - To understand what this means we need to understand Blood. 
Blood is life; Blood plays the role of creating, conserving and protecting life. The different components of blood have different roles to play.  
</h4>
   <ul class="ul_1">                         	
       <li>Blood is made up of: 
           <ol>
               <li><b>Plasma</b>: the fluid part which carries all the nutrients to the tissues of the body and takes away all the waste matter, which enables the blood to flow. </li>
               <li><b>Platelets</b>: ensures that, in the event of bleeding, a clot is formed to prevent further blood loss. </li>
               <li><b>W.B.Cs</b>: the defence mechanism of the body. They protect the body from external attacks and are also called as the 'soldier' cells. </li>
               <li><b>R.B.Cs</b>: contain haemoglobin, which carries the oxygen that we breathe to the different parts of the body. In fact the red colour of blood is due to RBCs. </li>
           </ol>
       </li>
       <li>This is caused due to the inability to produce haemoglobin, leading to premature destruction of RBCs.</li>
       <li>Therefore life-giving oxygen is not supplied to the various tissues, that will die as a result</li>
       <li>The child therefore needs blood transfusions, which have to be given throughout life-on an average every 15 days. </li>
       <li>A Thalassaemic Major Child is born only if both parents are Thalassaemia Minor. </li>
   </ul>
   
   <br />


    <p>Not everyone has visible symptoms of thalassemia. Signs of the disorder also tend to show up later in childhood or adolescence.</p>    
</div>

   
   <div class="col-md-4 col-sm-4 col-xs-12">
<img src="{% static 'images/6.png'%}" alt="" class="img-responsive img-thumbnail" style="margin-top:20px;" />
</div>
                       
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->
           

           <!--start-->
                  <div class="col-md-12 col-sm-12 col-xs-12">           
                       
                       <div class="col-md-12 col-sm-12 col-xs-12">
   <h3 class="text-danger">Knowledge of Thalassaemia is very important for youngsters who are not married.</h3>
   
   <h4>WHAT IS MY EXTENDED FAMILY PROJECT!!!</h4>
    <br />
  
   <ul class="ul_1">
    <li>To minimise: Window Period, Adverse Transfusion Reaction and spread of Hepatitis B, C & HIV through repeated blood transfusion.
        <ol>
           <li>Window Period: Time taken from infection to detection of antibody produced.
               <ul>
                   <li>100% blood bags collected are NAT-Nucleic acid Amplification Tested, by Real time PCR technology on cobas s 201, Roche.</li>
                   <li>Known group of selected 12 REGULAR donors donating twice in a year ONLY for particular child further reduces infection possibilities in addition to above.</li>
               </ul>
           </li>
       </ol>
    </li>
    <li>You could be a member of <b>MY EXTENDED FAMILY</b> by <b>ADOPTING A CHILD</b>.
        <ul>
             <li>It does not involve any money for adoption.</li>
            <li>But simply donating blood twice in a year for that child ONLY.</li>
            <li>Child will be honoured by: Quality life, leads to improved/better life span.</li>
            <li>Donor will be honoured with Adoption Certificate/I-Card for giving fragrance and put back bloom in withering life.</li>
       </ul>
    </li>
    
   
   </ul>
   
   
   
</div>
               
                       
</div>  

 <div class="col-md-12 col-sm-12 col-xs-12"> 
 <hr />
 </div>
<!--end-->
           
       </div>
       
       
       
   </div>
   
   
   <!---- about ---->
   
   
   <!---- About-grids ---->
           



               
               
               
           </div>
   {% endblock %}