<!DOCTYPE html>
<html lang="en">
	<head>
    
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    
		<title>Who Can Donate Blood</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="css/font-awesome.min.css" rel='stylesheet' type='text/css' />
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		 <!---- start-smoth-scrolling---->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
        
        
        <link rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet"> 

<link rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap" rel="stylesheet"> 


 <!--<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap" rel="stylesheet"> 
		-->
		
	</head>
	<body data-spy="scroll" data-target=".bs-docs-sidebar">
    
    
		<!----- start-header---->
<div id="home" class="header">
					<div class="top-header">
						<div class="container">
						
						<!----start-top-nav---->
                        
                         <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
							<a href="index.html"><img src="images/logo.png" title="Samarpan Blood Bank Logo" /></a>
						</div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about_us.html">About Us</a>
                    </li>
                      <li>
                        <a href="Product.html">Product</a>
                    </li>
                     <li>
                        <a href="Organizer.html">Organizer</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="Donor.html">Donor</a>
                    </li>
                     <li>
                        <a href="Other_activities.html">Other Activities</a>
                    </li>
                     <li>
                        <a href="Media.html">Gallery</a>
                    </li>
                    
                     <li>
                        <a href="Thalassemia.html">Thalassemia</a>
                    </li>
                     <li>
                        <a href="contact.html">Contact</a>
                    </li>
                     <li style="background-color:#C33; color:#FFF">
                        <a href="Donation.html"  style="color:#FFF; font-weight:bold"> Donation <span class="fa fa-rupee"></span></a>
                    </li>
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                                
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>-->
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
                        
                       
						
                        
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
            
            <div id="about" class="about">
            
            <div class="col-md-12 col-sm-12 col-xs-12 bloodbox" style="padding:5px;">
                          <div class=" col-md-12 col-sm-12 col-xs-12" style=" border:1px solid #F90; padding:15px; ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                   
                                         <div class="center_text">
                                        <center><h2>WHO CAN DONATE BLOOD</h2>      </center>   
                                   
                                </div>
                                </div>
                                
                                
                                
                                
                                
                          </div>
                    
                    
                    </div>
   
                    
                    
                    <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#installation"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> Am I eligible to donate blood?</a></li>
          <li><a href="#pagestructure"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i>  At the time of blood donation</a></li>          
          <li><a href="#logosettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> During Blood Donation</a></li>
		  <li><a href="#fontsettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> Post-Blood Donation</a></li>
          <li><a href="#menusettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i>Voluntary Donor Card</a></li>
          <li><a href="#slider"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i>Whole Blood</a></li>
          <li><a href="#footersettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> Apheresis</a></li>
		  <li><a href="#backgroundsettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> Blood Donation Types</a></li>	
          <li><a href="#carousalsettings"><i class="fa fa-chevron-circle-right pull-right fa-2x" style="font-size:20px"></i> Frequently Asked Questions (FAQ)</a></li>	
        </ul>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12" style="margin-top:-50px">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="installation">        
        <div class="col-md-8 col-sm-8 col-xs-12">
        
            <h1 class="text-danger">Am I eligible to donate blood?</h1>
            </br>
            <p>Once you decide to donate blood, please go through the following points</p>
            </br>
                    
            
            <ul class="ul_1">
            
                <li>You should be between 18yrs.-65 yrs.</li>
                <li>Your weight must be >48kg.</li>
                <li>Should have had enough  sleep at previous night (min. 4 hrs.)</li>
                <li>You should have eaten something in the last 4 hrs. or earliest before 20 minutes.</li>
                <li>You are in general good health at the time of blood donation.</li>
            
            </ul>
            
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="images/1.jpg" alt="" class="img-responsive img-thumbnail" style="margin-top:20px;" />
         </div> <br /><br /> <br /><br /> <br /><br /> <br /><br />
        </section>
       
        
        <hr />
        
        
        <section id="pagestructure">
        <div class="col-md-8 col-sm-8 col-xs-12">
        
            <h1 class="text-danger">At the time of blood donation</h1>
            <br />
            
            <ul class="ul_1">
            
                <li>Registration - Once you arrive at the blood bank or at blood donation drive, Doctor will check you in and provide an overview of eligibility requirements and information on the blood donation process.</li>
                <li>Donor Health History Questionnaire - Complete and confidential questionnaire that will be asked by Doctor ,your eligibility confirms on the basis of right and loyal answers of those questions.</li>
                <li>Mini-physical Examination – Along with questionnaire required physical examinations will be done, includes your blood pressure, pulse ,temperature.</li>
                <li>Technician checks your  hemoglobin levels (12.5 gms -17.9gms) to confirm your selection ,along with blood group.</li>
                <li>Blood donation volume is depends on the weight of the donor. <br />
                
                &loz; 48kg to 50 kg- 350 ml<br />
                &loz; 55kg and above -450ml <br />
                </li>
                             
            
            </ul>
			  </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="images/2.jpg" alt="" class="img-responsive img-thumbnail" style="margin-top:20px;" />
         </div> <br /><br /> <br /><br /> <br /><br /> <br /><br /><br /> <br /><br />
        </section>
        
        
        <hr class="bs-docs-separator">
        
        
        <section id="logosettings">
        
        
            <h1 class="text-danger">During Blood Donation</h1>
             <br />
            <ul class="ul_1">
            
                <li>The actual blood donation process takes about 10 minutes.</li>
                <li>Make sure to relax during this process.</li>
                <li>Following phlebotomist's instructions can ease your blood donation process.</li>
                <li>Make notice if any kind of discomfort to the phlebotomist. </li>                             
            
            </ul>
        
        
        </section>
        
        
        <hr class="bs-docs-separator">
		
		        
        <section id="fontsettings">        
        
            <h1 class="text-danger">Post-Blood Donation</h1>
            
            <br />
            
            <ul class="ul_1">
            
                <li>After completion of blood donation ideally you need to lie down in relaxed position at least for 5-7 minutes, leave your chair after bandage dressing.  </li>
                <li>Follow staff instructions and proceed to the refreshment area.</li>
                <li>Have water and liquids to ensure proper hydration and remain in the refreshment area at least for  15 minutes.</li>
                             
            
            </ul class="ul_1"> <br />
        <p><B>Follow the post donation instructions properly to avoid discomfort, like</B></p>
        
        <ol class="ul_1">            
                <li>Do not smoke at least for 3 hrs. </li>
                <li>Intake of hard drinks (alcohol) after 6 hrs.</li>
                <li>Have plenty of fluids like water, juices to balance the fluid loss.</li>
                <li>Ensure to have healthy and hygienic food.</li>
                <li>Do not jerk the hand from which have donated.</li>
                <li>Avoid heavy lifting, playing outdoor games, gym workout for the day of donation.</li>
                <li>Schedule your next blood donation after completion of 90 days of previous donation.</li>       
            
            </ol>
            
        </section>
        
        
        <hr class="bs-docs-separator">
        
        
        <section id="menusettings">
        
        
            <h1 class="text-danger">Voluntary Donor Card-(VD Card)</h1>
            <br />
            
           <ul class="ul_1">
            
                <li>Validity of card is 2 yrs. If</li>
                <li>It is used for donor's relatives or friends or any needy patient.</li>
                <li>Can get one unit against testing charges.</li>
                <li>If it is not used after 2 yrs also it is valid for lifetime for donors him/herself.</li>
            
            </ul> <br />
        <p><B>How to use VD card</B></p>
        
        <ol class="ul_1">            
                <li>At the time of use of VD card  the code on the card will be scanned at Samarpan Blood Bank.</li>
                <li>System driven code reference Id will be sent to the registered contact number of donor.</li>
                <li>Once it is verified the process of issuing of the required unit starts.</li>       
            
            </ol>
       
        </section>
        
        
        <hr class="bs-docs-separator">
        
        
        <section id="slider">
        
        
            <h1 class="text-danger">Types of Blood Donations</h1>
            <br />
           
              <h3>Whole Blood</h3>
             
 <ul class="ul_1">
            
                <li>The blood donated at donation drives or at blood bank is a whole blood taken 450ml/350ml</li>
                <li>Prior blood donation all the medical history and Hb checked (should be 12.5 and above.)</li>
            
            </ul> <br />
        <p>The collected blood processed at Blood Bank within 8 hrs.of blood donation</p>
        <br />
         <p><B>It processed for components like</B></p>
        
        <ol class="ul_1">            
                <li>Packed Cells (PC)</li>
                <li>Random Donor Platlets (RDP)</li>
                <li>Fresh Frozen Plasma (FFP)</li>       
                 <li>Cryo Poor Plasma (CPP)- In case of Separation is not done within 8 hrs of donation.</li>   
                 <li>Cryo Precipitate (CP)- As per requirement of the patients.</li>   
            </ol>
        </section>        
        
        <hr class="bs-docs-separator">      
        
                
        <section id="footersettings">
        
        
            <h1 class="text-danger">Apheresis</h1>
            
            <br />
            
           <p>Aphaeresis is the procedure also called Single Donor Platelet, it's an extraction of only Platelets from the donors blood.</p>
           
           <ul class="ul_1">
            
                <li>It has additional eligibility criteria,like
                    &loz; Weight must be >60kg<br />
                    &loz; Vein should be more prominent than the normal blood donation.
                </li>
                <li> It's a closed system process takes around 45 minutes – an hr.</li>
                <li> It includes 6 cycles </li>
                <li>The donor is pricked once for all the cycles</li>
                <li>Every cycle blood is drawn from the donor and processed in the kit installed at the Aphaeresis Machine, and processed for the extraction of only Platelets, and remaining blood goes back to the donor's body through the same needle prick.</li>
                <li>All 6 cycles repeats the same process.</li>
                <li>Donor may feel some discomfort, if donating for the first time.</li>
                <li>It subsides within few seconds.</li>
                <li>Platelet and plasma donations can be repeat every 15 days,as per availability and willingness of the donor.</li>
            
            </ul> <br />
           
            
               
        </section>
		
		
		<hr class="bs-docs-separator">
        
        
        <section id="backgroundsettings">
        
        
            <h1 class="text-danger">Blood Donation Types</h1>
             <br />
             
             
           <ul class="ul_1">
            
                <li>Volunteer Donation <br />
                    The standard or most common type of blood donation which is done to help society, <br />
                    Samarpan Blood bank collects blood from Voluntary Blood Donors only
                </li>
                <li>Directed Donation</li>
                <li>Autologous  Donation</li>
                
            
            </ul> 
             <p>Blood drawn from an individual prior to elective, non-urgent surgery during which loss of a lot of blood is expected. The donated units are stored for up to 42 days and given back to the same individual when and if a need for transfusion arises. This is very useful for patients with rare blood types who can be very hard to support from the regular blood supply. Autologous donors must be healthy enough to donate safely, so this is not  an option for seriously ill patients.</p>
        </section>
		
		
		<hr class="bs-docs-separator">	



<section id="carousalsettings">
        
        
            <h1 class="text-danger">Frequently Asked Questions (FAQ)</h1>
          
             <h2>Blood Donation Process</h2>
             
             <h4 class="text-info">1. IS IT SAFE TO GIVE BLOOD?</h4>
             
             <p>The usable used for blood donation and screening are sterile and discarded after one use. You are safe from diseases transfer through blood like HBV,HCV and HIV.</p><br />
             
             <h4 class="text-info">2. I AM ON MEDICATION. CAN I STILL DONATE BLOOD?</h4>
             
             <ul class="ul_1">
             	<li>Many medications are acceptable. Like vitamins, supplements Antibiotics, cholesterol medicines, steroids, antipsychotics, skin treatments (any kind), Iron supplements too cannot be considered.</li>
                <li>Consult your physician for the fitness to donate blood.</li>
                <li>At the camp site donor is screened by a medical Officer for the concern issue.</li>
                <li>Travel history to certain countries may prevent you from donating blood.</li>
                <li>Check with your blood bank if you have questions about these common travel-related deferrals.</li>
             </ul>
            <br />
             
             
              <h4 class="text-info">3. WILL THE VACCINATIONS MAKE ME INELIGIBLE TO DONATE BLOOD?</h4>
             
             <ul class="ul_1">
             	<li>Post vaccination for 15 days you cannot donate blood. </li>
                <li>You may be temporarily deferred if you have recently received a vaccine made from live viruses or if you have received vaccines to prevent infection after exposure to an infection. </li>
                <li>Flu vaccines are NOT cause for deferral. </li>
             </ul>
            <br />
             
             
   <h4 class="text-info">4. HOW LONG DOES IT TAKE TO GIVE BLOOD?</h4>
             
             <ul class="ul_1">
             	<li>The process for whole blood donation usually takes about half an hour including doctors screening, blood donation and refreshment.</li>
                <li>Expect to spend about two hours for an aphaeresis platelet collection. </li>
                <li>As it includes pre donation blood screening for HIV,HCV and HBV.</li>
                <li>All blood  donation process includes registration, a brief medical screening, blood collection, and refreshments.</li>
             </ul>
            <br />
            
            <h4 class="text-info">5. HOW MUCH BLOOD DO I HAVE IN MY BODY?</h4>
             
             <ul class="ul_1">
             	<li>Every individual has 4-5.5 ltrs of blood.</li>
                <li>Varies according to height and weight</li>
             </ul>
            <br />
    	
        <h4 class="text-info">6.	HOW MUCH BLOOD IS TAKEN?</h4>
             
           
            <br />
            
            
               <h4 class="text-info">7. HOW OFTEN CAN I GIVE BLOOD ?</h4>
              <ul class="ul_1">
             	<li>Whole blood donation or regular blood donation should repeat after 90 days (3 months).for males and 120 days for females.</li>
                <li>Plasma donation can be repeated after every 15 days.</li>
                <li>These criterias are depends on the life cycle of every blood cell.</li>
                <li>It varies in days as per the cells.</li>
             </ul>
           
            <br />
            
            
            <h4 class="text-info">8. IS THERE ANY AGE LIMIT FOR BLOOD DONORS?</h4>
              <ul class="ul_1">
             	<li>Any healthy person between 18yrs-65yrs can donate regular blood</li>
             </ul>
           
            <br />
            
            
             <h4 class="text-info">9. How safe is the blood transfusion?</h4>
              <ul class="ul_1">
             	<li>The blood from Samarpan is absolutely safe for transfusion, as</li>
                <li>We are following all the FDA norms to collect the blood</li>
                <li>All mandatory tests are done for all the collected blood for the infections which can be transferred through blood.</li>
             </ul>
           
            <br />
            
            <h4 class="text-info">10. WHAT IS THE UNIVERSAL BLOOD TYPE?</h4>
               <ul class="ul_1">
             	<li> <b>"O negative"</b> is the blood group which can be considered as a universal donor under some elective circumstances.</li>
                <li>O negative blood can be transfused to any other group in case of medical emergency and patient's blood group is not known, is not getting cross matched with any other blood.</li>
                <li> 2% of the India's population has <b>"O negative"</b>, blood.</li>
                <li><b>"AB positive"</b> is the universal recipient and can receive blood from any other blood group under some elective circumstances.</li>
                <li>7.3% of the India's population has AB positive blood. </li>
                <li>Both the blood groups are considered Universal donor as well recipient only in case of Packed cells.</li>
             </ul>
           
            <br />
            
             <h4 class="text-info">11. FOR HOW MANY DAYS MY BLOOD CAN BE USED?</h4>
             
             <p>Collected blood is processed and make available for use between 24 to 48 hours after collection.</p><br />
               <ol class="ul_1">
             	<li>Whole blood is processed into components packed cells, platelets, plasma. </li>
                <li>After processing, the packed cells can be stored  up to 35days./42 days with SAGM</li>
                <li>Plasma can be frozen and stored for up to 12 months.</li>
                <li>Platelets –<b>R</b>andom <b>D</b>onor <b>P</b>latelets and <b>S</b>ingle <b>D</b>onor <b>P</b>latelets must be used within five days.</li>
             </ol>
           
            <br />
            
            <h4 class="text-info">12. ALL HEALTH RELATED QUIESTIONNAIRE TO BE ANSWERED?</h4>
             
             <p><b>Yes</b></p>
               <p>As per FDA guidelines it is mandatory to ask all medical history and health related questionnaire and it is mandatory for donors to answer it honestly.</p>
           
            <br />
            
             <h4 class="text-info">13. DOES SAMARPAN BLOOD BANK PAY DONORS FOR BLOOD DONATION?</h4>
             
             <p><b>No</b></p>
               <p>Samrpan Blood Bank does not pay for blood donations. <br />
                We only encourage and proceed with voluntary blood donations.
                </p>
           
            <br />
            
            
            
            <h4 class="text-info">14. WHY DO BLOOD BANKS CHARGE MONEY TO PATIENTS FOR BLOOD SUPPLY?</h4>
             
             <p>The blood collected from the donation drives has to go through many processes till it reaches to recipient</p>
              <p>All these steps are needed to take utmost care.</p><br />
               <ol class="ul_1">
                <li>Blood is collected from donor in sterile, integrally attached standard blood bags. These bags are bit expensive.</li>
                <li>Blood is tested costs for, blood grouping, transfusion transmitted disease screening, antibody screening ; all these procedures needs reagents which costs.</li>
                <li>Blood gets separated for its components, it needs machines which work on electricity along with man power. All these machines needs maintenance,which costs.</li>
                <li>Components are  to be stored at specified temperature, which requires special fridges.</li>
                <li>For the operations of all departments & safety of the donor qualified staff is appointed & huge salary burden is to be bare by blood bank.</li>
                <li>Cross matching of blood & transportation of components to the recipient needs further arrangements.</li>
                <li>Overall quality of blood increases with the advanced techniques and procedures, which increases the cost of preparations.</li>
             </ol>
           
            <br />
	 
        </section>		


<hr class="bs-docs-separator">		






		

      </div>
    </div>

  </div>
                    
                    
                    
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
            
            
        <aside id="ccr-footer-sidebar">
	<div class="container">

		<ul>
			<li class="col-md-4">
				<h5>Samarpan Blood  Centre </h5>
				
				<div class="site-logo">
                
                    <p style=" color:#FFF; font-size:14px;">
                     
                       <span class="fa fa-home"></span>
                    201 ,2nd Floor, Aaradhya health care, <br />
                                    Aaradhyaa one earth, H wing, <br />
                                    Nayadu Colony, Pantnagar, Ghatkopar East, <br />
                                    Pincode 400075.
                    </p>
                    
                    <p style=" color:#FFF; font-size:14px;">
                    <span class="fa fa-phone"></span>
                     +91 022-49603131, +91 022-49644455, +91 022-46093131, +91 022-41235151.<br /><br />
                         <span class="fa fa-mobile"></span>
                       +91 703 966 7203, +91 703 966 7204.
                    </p>
                    
                     <p style=" color:#FFF; font-size:14px;">
                    <span class="fa fa-envelope"></span>
                    tr@samarpanbloodcentre.org 
                    
                    </p>
                    
				</div> <!-- / .navbar-header -->
				
			</li>
			<li class="col-md-4">
				<h5>Samarpan Blood Storage Centre</h5>
				<div class="site-logo">
                
                    <p style=" color:#FFF; font-size:14px;">
                     
                       <span class="fa fa-home"></span>
                       Shree Pragati Foundation's Hira<br /> Mongi Navneet Hospital<br />
    					Valji Ladha road,<br /> Mulund (W), Mumbai - 4000 080<br />
                    </p>
                    
                    <p style=" color:#FFF; font-size:14px;">
                    <span class="fa fa-phone"></span>
                      9594032512, <br />Board Line : 61590 5577.                    
                    </p>
                    
                     <p style=" color:#FFF; font-size:14px;">
                    <span class="fa fa-envelope"></span>
                   hm@samarpanbloodcentre.org 
                    
                    </p>
                    
				</div> <!-- / .navbar-header -->
				
			</li>
			<li class="col-md-4">
				<h5> Khopoli Mahajan Samarpan Blood Storage Centre</h5>
				<div class="site-logo">
                
                    <p style=" color:#FFF; font-size:14px;">
                     
                       <span class="fa fa-home"></span>
                       G.V.P.B. Saraswati Ma Lohana<br /> Mahajan wadi<br />
      Opp.Central Bank of India ,<br />Jalaram Nagar, Khopoli,
<br />
                    </p>
                    
                    <p style=" color:#FFF; font-size:14px;">
                    <span class="fa fa-phone"></span>
                            9325102511, 02192-268750                   
                    </p>
                    
                     <p style=" color:#FFF; font-size:14px;">
                    <span class="fa fa-envelope"></span>
                   km@samarpanbloodcentre.org
                    
                    </p>
                    
				</div> <!-- / .navbar-header -->
				
			</li>
            
            
			
		</ul>
	</div>
    
    
	
</aside>

			
			<!--- copy-right ---->
			<div class="copy-right">
				<div class="container">
                
                  <div class="col-lg-8 col-md-8">
				<div class="copy-right-left">
					<p> Samarpan Blood Centre <span class="fa fa-copyright"></span> 2021 All Rights Reserved | <b>Powered by :&nbsp;</b><a href="http://stridessoftware.com/" style="color:Black;" target="_blank">Strides Software Solution Pvt Ltd</a></p>
					
					<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
					<a href="#" id="toTop" style="display: block;" class="btn btn-info"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			
				<div class="clearfix"> </div>
                </div>
                 <div class="col-lg-4 col-md-4" style="text-align:right">
					<a class=" fa fa-facebook-square fa-2x" href="https://www.facebook.com/samarpanbloodcentreghatkopar" target="_blank"></a>
                    <a class=" fa  fa-twitter-square fa-2x" href="#"></a>
                    <a class=" fa fa-youtube-square fa-2x" href="#"></a>
                    <a class=" fa fa-linkedin-square fa-2x" href="#"></a>
     </div>
     
			</div>
			</div>
			<!--- copy-right ---->
            
            
            <script src="js/bootstrap.min.js"></script>
            
            
	</body>
</html>
